.novedades-container {
  margin-top: 60px;
  text-align: center;
}

.novedades-titulo {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
}

.novedades-slider img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 14px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

/* Estilo de los puntitos */
.swiper-pagination-bullet {
  background-color: #666;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background-color: #000;
  opacity: 1;
}
